<header>
  <h2>Lista de contatos</h2>
</header>

<main role="main">
  <section>
    <div>
      <p-table [value]="contatos">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 80px">Código</th>

            <th>Nome</th>

            <th>E-mail</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-contato>
          <tr>
            <td>{{contato.id}}</td>

            <td>{{contato.nome}}</td>

            <td>{{contato.email}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</main>
